<section data-ng-controller="ContractsController" data-ng-init="find(); showView=false">
    <header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
    <div class="page-header h">
        <h1>Contracts</h1>
    </div>
    <div class="row">
    <div class="col-xs-12 col-sm-8">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Search..." data-ng-model="searchText">
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button">Go!</button>
                </span>
        </div><!-- /input-group -->
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
        <a href="#!/contracts/create"><button type="button" class="btn btn-danger text-center">
            New Contract
        </button></a>
    </div>
    </div>
    </br>
    <div class="list-group col-sm-4">
        <a data-ng-repeat="contract in contracts | filter:searchText" ng-click = "currentView(contract)" class="list-group-item">
            <h4 class="list-group-item-heading">{{contract.name}} ID: {{contract._id}}</h4>
            <small class="list-group-item-text">
				Posted on
				<span data-ng-bind="contract.created | date:'medium'"></span>
				by
				<span data-ng-bind="contract.user.displayName"></span>
			</small>
        </a>
    </div>
    <div class = "list-group col-sm-8" ng-init = "contract = selectedContract" ng-show="showView" ng-include = "'/modules/contracts/views/view-contract.client.view.html'">
    </div>

</section>