<section data-ng-controller="ContractsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Contracts</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="contract in contracts" data-ng-href="#!/contracts/{{contract._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="contract.created | date:'medium'"></span>
				by
				<span data-ng-bind="contract.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="contract.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!contracts.$resolved || contracts.length">
    	No Contracts yet, why don't you <a href="/#!/contracts/create">create one</a>?
    </div>
</section>