<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse">
</header>
<div data-ng-controller = "HomeController" id = "content-div" >
    <div class = "col-sm-12" id = "option-bar" ng-init = "changeState()">
        <div>
            <ul class="nav navbar-nav col-sm-12">

                <li class="tab"><a class = "option" data-ui-sref="main.calendars" style="background-color: #FFF7DE; color: #444 !important;">Calendar View</a></li>
                <li class="tab"><a class = "option" data-ui-sref="main.list" style="background-color: #FFF7DE; color: #444 !important;">List View</a></li>
                <li class="tab"><a class = "option" data-ui-sref="main.map" style="background-color: #FFF7DE; color: #444 !important;">Map View</a></li>
                <li class="tab"><a class = "option" data-ui-sref="createContract" style="background-color: #FFF7DE; color: #444 !important;">Create Contract</a></li>
            </ul>
        </div>
    </div>

    <div class = "col-sm-12" data-ui-view = "name"></div>
</div>