<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse">
</header>
</br>
<div data-ng-controller = "HomeController" id = "content-div">
    <div class = "col-sm-12" id = "option-bar">
        <div>
            <ul class="nav navbar-nav col-sm-12">

                <li class="tab"><a class = "option" data-ui-sref="main.calendars">Calendar View</a></li>
                <li class="tab"><a class = "option" data-ui-sref="main.list">List View</a></li>
                <li class="tab"><a class = "option" data-ui-sref="calendar">Map View</a></li>
                <li class="tab"><a class = "option" data-ui-sref="createContract">Create Contract</a></li>
            </ul>
        </div>
    </div>

    <div class = "col-sm-12" data-ui-view = "name"></div>
</div>