.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak
{
	display: block;
}

/* Gabe */
.ng-scope[data-ui-view="name"] .col-sm-6
{
	width: 100%;
	margin: 0;
}

.ng-scope[data-ng-controller="HomeController"] .list-group-item
{
	width: 20%;
	float: left;
}