.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak
{
	display: block;
}
/* Gabe */
.ng-scope[data-ui-view="name"] .col-sm-8
{
	margin: 0;
}
.ng-scope[data-ui-view="name"] .col-sm-4
{
	float: right;
    margin: 0;
}
.tab
{
	width: 25%;
	text-align: center;
	border: 1px solid #888;
}
.tab:not(:last-child)
{
	border-right: 0;
}
.option
{
	color: #686868 !important;
}

section[data-ng-controller="ContractsController"] .form-group
{
	width: 50%;
	float: start;
	margin-left: 0;
	margin-right: 0;
	margin-top: 5px;
}
section[data-ng-controller="ContractsController"] .form-group input
{
	width: 95% !important;
}

.modal-dialog
{
	width: 800px !important;
}
.modal-dialog label
{
	width: 25%;
	float: left;
	margin-top: 5px;
}
.modal-dialog label[for="notes"]
{
	width: 100%;
	float: left;
	margin-top: 5px;
}
.modal-dialog .controls
{
	width: 75%;
	float: left;
	margin-bottom: 2.5px;
}

.list-group-item
{
	cursor: pointer;
}