<section data-ng-controller="CustomersController as customerUpCtrl">
    <div class="modal-header">
        <h3 class="modal-title">Update: {{customer.firstName}} {{customer.lastName}} </h3>
    </div>
    <div class="modal-body">
        <form name="updateCustomerForm">
            <fieldset>
                <div data-ng-show = "error" class = "text-center text-danger">
                    <strong data-ng-bind = "error"> Error </strong>
                </div>
                <div class="col-md-12">
                    <label class="control-label" for="firstName">First Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="customer.firstName" id="firstName" class="form-control" placeholder="Name" required>
                    </div>

                    <label class="control-label" for="lastName">Last Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="customer.lastName" id="lastName" class="form-control" placeholder="Name" required>
                    </div>

                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input type="text" data-ng-model="customer.email" id="email" class="form-control" placeholder="Name" required>
                    </div>

                    <label class="control-label" for="username">Username</label>
                    <div class="controls">
                        <input type="text" data-ng-model="customer.username" id="username" class="form-control" placeholder="Name" required>
                    </div>

                    <!--<label class="control-label" for="password">Password</label>-->
                    <!--<div class="controls">-->
                        <!--<input type="text" data-ng-model="customer.password" id="password" class="form-control" placeholder="Enter a new Password" required>-->
                    <!--</div>-->

                </div>
            </fieldset>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-success" id ="editButton" data-ng-click="customerUpCtrl.update(customer);ok()" data-ng-disabled="updateCustomerForm.$invalid">Update & Close</button>
    <button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
    </div>

</section>