<section data-ng-controller="CustomersController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 style="margin-left: 40%;color:#e60502">Edit User</h1>
    </div>
    <div data-ng-show="error" class="text-danger">
        <strong data-ng-bind="error"></strong>
    </div>
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="col-md-12">
                    <label class="control-label" for="firstName">First Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="customer.firstName" id="firstName" class="form-control" placeholder="Name" required>
                    </div>

                    <label class="control-label" for="lastName">Last Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="customer.lastName" id="lastName" class="form-control" placeholder="Name" required>
                    </div>

                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input type="text" data-ng-model="customer.email" id="email" class="form-control" placeholder="Name" required>
                    </div>

                    <label class="control-label" for="userName">Username</label>
                    <div class="controls">
                        <input type="text" data-ng-model="customer.userName" id="userName" class="form-control" placeholder="Name" required>
                    </div>

                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="text" data-ng-model="customer.password" id="password" class="form-control" placeholder="Name" required>
                    </div>
                    </br>
                    <!--<input type="submit" value="Update" class="btn btn-danger">-->
                    <div class = "form-group col-md-12">
                        <div class="controls">
                            <button type="submit" class="btn btn-danger">
                                Update
                            </button>
                        </div>
                    </div>

                    </div>
            </fieldset>
        </form>

</section>