<section data-ng-controller="CustomersController as CustomerCtrl">
    <header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
    <div class="page-header">
        <h1 style="margin-left: 50%;color: #e60502">Users</h1>
    </div>
    <div class="row">
    <div class="col-xs-12 col-sm-8">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Search..." data-ng-model="searchText">
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button">Go!</button>
                </span>
        </div><!-- /input-group -->
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
        <button type="button" class="btn btn-danger text-center" data-ng-click="CustomerCtrl.modalCreate('lg')" >
            <i class="glyphicon glyphicon-user"></i> <br>
            New User
        </button>
    </div>
    </div>
    </br>
    </br>
    <customer-list></customer-list>

</section>

