<section data-ng-controller="MapsController" data-ng-init="find()">
    <header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
    <div class="page-header">
        <h1>Tower Locations </h1>
    </div>
    <div>
        <map zoom="8" center="[30.16, -81.73]" style="display: block; height: 572px;">


            <div data-ng-repeat = "marker in contracts">
                <marker id="{{marker.title}}"
                        position= "{{marker.location}}"
                        title="{{marker.title}}"
                        on-click="showInfoWindow(event, 'bar')"
                        visible="true" >
                </marker>
                <info-window id="bar" visible-on-marker="{{marker.title}}">
                    <div ng-non-bindable="">
                        <div id="siteNotice"></div>
                        <h1 id="firstHeading" class="firstHeading">{{marker.title}}</h1>
                        <div id="bodyContent">
                            <p><b>Latitude: {{marker.location[0]}}, Longitude: {{marker.location[1]}}</b></p>
                        </div>
                    </div>
                </info-window>
            </div>
        </map>
    </div>
</section>