.border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.calendars {
    float: left;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: white;
    width: 100%;
    border: solid 1px black;
    margin-bottom: 10px;
}
 div.header {
    float: left;
    width: 99.7%;
    background: #880020;
    height: 60px;
    color: white;
}
 div.header > * {
    height: 40px;
    line-height: 60px !important;
    display: inline-block;
    vertical-align: middle;
}
 div.header > i {
    float: left;
    width: 40px;
    font-size: 1.125em;
    font-weight: bold;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    //padding: 0 10px;
    cursor: pointer;
    height: 100%;
}
div.header > i:hover
{
    background-color: #660000;
}
div.header > i.fa-angle-left {
    text-align: left;
    width: 33.33%;
    text-align: center;

    border: 1px solid #660000;
    border-top: 0;
    border-right: 0;
    box-sizing: border-box;
}
div.header > i.fa-angle-right {
    text-align: right;
    width: 33.33%;
    /*margin-left: -40px;*/
    text-align: center;

    border: 1px solid #660000;
    border-top: 0;
    box-sizing: border-box;
}
 div.header > span {
    float: left;
    width: 33.33%;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    //padding-left: 50px;
    //margin-left: -40px;
    text-align: center;
    //padding-right: 40px;
    color: inherit;
    height: 100%;

    border: 1px solid #660000;
    border-top: 0;
    border-right: 0;
}
 div.week {
    float: left;
    width: 100%;
    border-top: solid 1px #cccccc;
}
.week.names .day
{
    height: 30px;
}
.week .day:last-child
{
    border-right: 1px solid #cccccc;
}
 div.week:first-child {
    border-top: none;
}
div.week:last-child
{
    border-bottom: solid 1px #cccccc;
}
 div.week > span.day {
    position: relative;
    float: left;
    width: 14.285714285714286%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-left: solid 1px #cccccc;
    font-size: 0.75em;
    text-align: center;
    height: 95px;
    line-height: 30px !important;
    vertical-align: middle;
    background: white;
    cursor: pointer;
    color: black;
}
 div.week > span.day:first-child {
    //border-left: none;
}
 div.week > span.day.today {
    background-color: #880020;
}

 div.week > span.eventExist {

    background-color: #3B0B2E;
}
#event-indicator{
    position: absolute;
    margin-top:35px ;
    right: 50px;
    width:15px;
    height:15px;
    border-radius:50px;
    font-size: 1.9em;
    color:#880020;
}

 div.week > span.day.different-month {
    background-color: #f8f8ff;
    color: lightgrey;
}
 div.week > span.day.selected {
    background: #3B0B17;
    color: white;
}

 div.week.names > span {
    color: #880020;
    font-weight: bold;
}


