<section data-ng-controller="CalendarsController as CalCtrl" data-ng-init="find()" data-ng-init="getToday">
    <div class = "row">
        <div class = "col-sm-9">
            <calendars selected="day" contracts="contracts"></calendars>
        </div>
        <div class = "col-sm-3">
            <div class="list-group">
                <!--#!/contracts/{{contract._id}}-->
                <a data-ng-repeat="contract in contracts" data-ng-click="CalCtrl.openModal(lg, contract)" data-ng-if="day.format('MM/DD/YYYY') == contract.StartDate.format('MM/DD/YYYY')" class="list-group-item">
                    <h1 class="list-group-item-heading text-center" data-ng-bind="contract.name"> ></h1>

                </a>
            </div>
        </div>
    </div>
</section>