<section data-ng-controller="CalendarsController as CalCtrl" data-ng-init="find(); day = null" >
    <div class = "row">
        <div class = "col-sm-9" style="padding-right: 0; width: 73.66%;">
            <calendars selected="day" contracts="contracts"></calendars>
        </div>
        <div class = "col-sm-3" style="padding: 0; margin-left: -3px; width: 24%; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJElEQVQIW2P8/35vPQMCNDAiCTQwMDDABcAckEKQiv8wDkgAAGCwEC2UsLauAAAAAElFTkSuQmCC); height: 572px; overflow-y: scroll;">
            <div class="list-group">
                <!--#!/contracts/{{contract._id}}-->
                <div data-ng-repeat = "contract in contracts">
                    
                <a data-ng-if = "dateMatch(day, contract)" data-ng-click="CalCtrl.openModal(lg, contract)" class="list-group-item">
                    <h1 class="list-group-item-heading text-center" data-ng-bind="contract.name;"></h1>
                </a>
            </div>
            </div>
        </div>
    </div>
</section>